extends layout.pug

block content
  script(src="/javascripts/menuItemEdit.js" type="module")
  script(src="/javascripts/menuItemDelete.js" type="module")
  link(rel='stylesheet' href='/stylesheets/menu-items.css')

  h1(class='main-header') Menu
  if errors
    ul
      each error in errors
        li= error
  div(id=`restaurant-${restaurant.id}-menu-items`)
    each item in restaurant.MenuItems
      div.single-item(id=`item-container-${item.id}`)
        h2.itemName(id=`${item.id}-name`)= item.name
        p.itemDescription(id=`${item.id}-description`)= item.description
        if owner === loggedInUser
          div(class="owner-buttons-div")
            button(class="edit-btn" id=`edit-btn-${item.id}`) Edit
            button(class='delete-btn' id=`delete-btn-${item.id}`) Delete
            form(class="hidden" id=`edit-form-${item.id}`)
              input(type="hidden" name="_csrf" value=csrfToken)
              label Item Name
              input(type="text" name="name" value=item.name id=`${item.id}-edit-name` required)
              label Description
              input(type="text" name="description" value=item.description id=`${item.id}-edit-description` required)
              button(class="edit-submit" id=`edit-submit-${item.id}`) Submit Edit
    if owner === loggedInUser
    button(type='submit' class='create-new-button'):  a(href=`/restaurants/${restaurant.id}/menu-items/new/` class='create-new') New Menu Item
  //- form(action=`/restaurants/${restaurant.id}/menu-items`, method="post")
  //-   input(type="hidden" name="_csrf" value=csrfToken)
  //-   label Item name
  //-   input(type="text" name="name" id=`create-name`)
  //-   label Description
  //-   input(type="text" name="description" id=`create-description`)
  //-   button(type='submit' class="create-submit" id='create-submit') Create menu item

  a(href=`/restaurants/${restaurant.id}` class='restaurant-link') Back to the #{restaurant.name}
