extends layout.pug

block content
  h1= restaurant.name

  div
    each item in restaurant.MenuItems
      h2.itemName= item.name
      img(src=`${item.image}`, alt="image" style="width:250px")
      p.itemDescription= item.description

  div
    each review in restaurant.Reviews
      p.reviewName= review.review

  p: a(href=`/restaurants/`) Restaurants
  p: a(href=`/restaurants/${restaurantId}/menu-items`) See More Menu Items
  p: a(href=`/restaurants/${restaurant.id}/reviews`) View All Reviews
