extends layout.pug

block content
  div(class="review-container")
    div(class="review-container")
    if errors
        div(class='review-edit-error')
          ul
            each error in errors
              li= error
    form(action=`/restaurants/${restaurantId}/reviews/edit/${reviewId}` method='post')
      p
        input(type="hidden" name='_csrf' value=csrfToken)
        input(class="longtextbox" type='textarea', name='review', value=currentreview required)
      div(class="buttons")
        button(type='submit' class='submit-button') Submit
        a(class="cancelfakebutton" href=`/restaurants/${restaurantId}/reviews` ) Cancel
